.kv-tree-container {
    padding: 0;
}

.kv-tree-container .kv-tree li,
.kv-tree-container .kv-tree li ul {
    border: none;
    margin-left: 0;
}

.kv-tree-container .ul.kv-tree,
.kv-tree-container .kv-tree ul {
    padding-left: 0 !important;
}

.kv-node-icon {
    display: none !important;
}

.product .tab-content {
    padding: 20px 0;
}

.product .new-property-form .form-group
{
    display: table-cell;
    float: none;
    min-width: 200px;
    padding-right: 20px;
}

.product .form-group.horizontal.btn-group {
    padding: 10px 20px;
    vertical-align: bottom;
}
